@media screen and (max-width: 550px) {
    .popup-adding__icon {
        height: 27px;
        width: 27px;
    }
}

@media screen and (max-width: 434px) {
    .popup-adding__icon {
        height: 20px;
        width: 20px;
    }
}