.element__icon {
    margin-left: auto;
    background-color: #FFFFFF;
    max-height: 19px;
    align-self: center;
    cursor: pointer;
}

.element__icon:hover {
    opacity: .5;
    transition: opacity 1s ease;
}

.element__icon.active {
    color: rgba(0, 0, 0, 1);
}