.profile__photo {
    max-width: 13.63664636%;
    border-radius: 50%;
    object-fit: cover;
    min-width: 120px;
    height: 120px;
}

@media screen and (max-width: 1024px) {
    .profile__photo {
        margin: 0 auto 0;
    }
}